ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #D06224;
  }
  
  ul li {
    display: block;
    position: relative;
    float: left;
    background: #E9C891;
  }

  li ul { display: none; }

ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: black;
  font-size: 20px;
  font-family: 'Major Mono Display', monospace;
}

ul li a:hover { 
    background: #8A8635;  
    color: white; 
    font-family: 'Architects Daughter', cursive;
}

li:hover > ul {
    display: block;
    position: absolute;
}
  
li:hover li { 
      float: none; 
}
  
li:hover a {
     background: #FDEFEF; 
}
  
li:hover li a:hover { 
    background:#CDBBA7; 
}
  
.main-menu li ul li { 
    border-top: 0; 
}
ul ul ul {
    left: 100%;
    top: 0;
}
nav{
  position: fixed;
  top: 0;
}

body{
  height: 1920px;
  background-image: url(https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_1280.jpg);
  
}

footer{
  position: fixed;
  bottom: 0px;
  align-items: center;
}
